* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.main{ 
background: linear-gradient(to left,black,white);
line-height: 40px;
width: 100%;
text-transform: uppercase;

}
.nav{ 
width: 86%;
margin: auto;
text-align: center;
justify-content: space-between;
padding: 15px 15px;
display: flex;
cursor: pointer;
padding-top: 40px;
}
h1 img{ 
width: 150px;
height: 100px;
margin-top: auto;
color: #fff;
}

nav ul {
    list-style: none;
   
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
    
}
.hero {
    background-image: url('Barber.jpeg');
    background-size: cover;
    color: #faf1f1;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero h1 {
    font-size: 50px;
    margin: 0;
    font-weight: bold;
}
.hero p {
    font-size: 24px;
}
.services, .about, .gallery, .contact {
    padding: 50px;
    text-align: center;
}
.services h2, .about h2, .gallery h2, .contact h2 {
    margin-bottom: 20px;
}
.services .service-item {
    margin: 20px;
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
.gallery img {
    width: 30%;
    margin: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
.book{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 0.8px;
}